html{
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
}

body{
	color: $main-color;
	background-color: $background-color;
	margin:0;
	@extend %sans;
}

.headsup{
	width: 100%;
	top: 0;
	height: 15em;
	z-index: 1;
	display:flex;
	align-items: center;
	flex-direction: column;	
	justify-content: space-between;
}

.doppel-tomgatchi{
	height: 11em;
	width: 100%;
	background-color: $main-color;
	display: flex;
	align-items: center;
	justify-content: center;
}

.doppel-image-container{
	background-color: $background-color;
	border-radius: 50%;
	border: 5px solid $tertiary-color;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;	
	justify-content: center;
}

.doppel-image{
	display: flex;
	align-items: center;
	flex-direction: column;	
	justify-content: center;
	width: 100%;
	height: 100%;
	& img{
		width: 75%;
	}
}

.doppel-info{
	background-color: $main-dark;
	color: $background-color;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	min-height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	& span{
		color: $tertiary-color;
	}
}

.container{ 
	margin: 2em auto;
	display: flex;
	flex-direction: column;	
}

.category-container{
	max-width:90%;
	margin: 0 auto;
	background-color: $secondary-color;
	color: $main-color;
}

ul.category-name{
	max-width: 90%;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	& li{
		display:inline;
		& span{
			font-weight: bold;
		}
	}
}

