html{
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
}

body{
	color: $main-color;
	background-color: $background-color;
	margin:0;
	@extend %sans;
}

.headsup{
	width: 100%;
	top: 0;
	height: 18em;
	z-index: 1;
	display:flex;
	align-items: center;
	flex-direction: column;	
	justify-content: space-between;
}

.doppel-tomgatchi{
	height: 14em;
	width: 100%;
	background-color: $main-color;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	color: $background-color;
	& h1{
		text-align: center;
	}
	& span{
		color: $tertiary-color;
	}
}

.doppel-image-container{
	background-color: $background-color;
	border-radius: 50%;
	border: 5px solid $tertiary-color;
	height: 120px;
	width: 120px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;	
	justify-content: center;
	
}

.doppel-image{
	display: flex;
	align-items: center;
	flex-direction: column;	
	justify-content: center;
	width: 100%;
	height: 100%;
	color: $main-color;
	font-size:1.25em;
	& img{
		width: 75%;
	}
}

.doppel-info{
	background-color: $main-dark;
	color: $background-color;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	min-height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	& span{
		color: $tertiary-color;
	}
}

.container{ 
	margin: 2em auto;
	display: flex;
	flex-direction: column;	
}

.container a:first-child div {
	margin-top: 0;
}

.post{
	margin-top: 2em;
	& a{
		text-decoration: none;

	}
}

.category-container{
	max-width:90%;
	margin: 0 auto;
	background-color: $secondary-color;
	color: $main-color;
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 0.75em 0;
	&:hover{
		background-color: shade($secondary-color, 10%);
		cursor: pointer;
	}
}

.category-name{
	width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.percentage::after
{ 
content:"+";
color: $background-color;
margin-left: 0.75em;
font-size: 1em;
}

.check{
	color: $background-color;
	font-size:2.5em;
}

.category-progress-container{
	height: 1em;
	width: 95%;
	background-color: $background-color;
}

.category-progress{
	height: 1em;
	width: 90%;
	background-color: $secondary-dark;
}

nav {
	position: absolute;
	width: 100%;
}

nav ul li a {
	float: left;
	opacity: 0.8;
	margin-top: 2%;
	background-position: center center;
	background-repeat: no-repeat;
	margin-left: 5%;
	background-size: 100%;
	height: 50px;
	width: 50px;
	text-indent: -9999px;
	background-image: url('../img/heart.svg');
	&:hover {
		opacity: 1;
	}
}

nav ul li + li a {
	float: right;
	margin-right: 5%;
	background-image: url('../img/refresh.svg');
}

.sub nav ul li a {
	background-image: url('../img/back.svg');
}

